.mission {
  /* backdrop-filter: blur(5px); */
  background: none;
  border-bottom: 1px solid var(--color-primary-lighten2);
  border-left: 1px solid var(--color-primary-lighten2);
  border-radius: 0.3rem;
  height: 3rem;
  margin-top: 0.2rem;
  overflow: hidden;
  padding-top: 0.5rem;
  padding: 1rem;
  transition: all 0.35s ease-in-out;
  user-select: none;
  width: min(100%, 30rem);
}
.mission:hover {
  height: 23rem;
}

.mission ul {
  opacity: 0;
  padding-left: 1rem;
  transform: translateY(100%);
  transition: all 0.35s ease-in-out;
}

.mission:hover ul {
  opacity: 1;
  transform: translateY(0);
  transition-delay: 0.2s;
}
.mission ul li {
  color: var(--color-primary-lighten1);
  font-family: var(--font-family-poppins);
  font-size: 0.9rem;
  font-weight: 200;
}
.mission h3 {
  color: var(--color-primary-lighten1);
  font-size: 1.2rem;
  font-family: var(--font-family-poppins);
  font-weight: var(--font-w400);
}

.cards {
  /* backdrop-filter: blur(5px); */
  border-bottom: 1px solid var(--color-primary-lighten2);
  border-left: 1px solid var(--color-primary-lighten2);
  border-radius: 0.3rem;
  height: 3rem;
  overflow: hidden;
  transition: all 0.35s ease-in-out;
  user-select: none;
  width: min(100%, 30rem);
}
.cards:hover {
  height: 11rem;
}
.cards a {
  background: var(--color-primary-light);
  border-bottom: 1px solid transparent;
  border-radius: 0.3rem;
  border: none;
  color: var(--color-primary-dark2);
  cursor: pointer;
  font-family: var(--font-family-poppins);
  font-size: 1rem;
  margin: 0.2rem;
  outline: none;
  padding: 0 0.2rem;
  transition: all 350ms ease-in-out;
  width: fit-content;
}

.cards a:hover {
  background: var(--color-primary-dark2);
  border-bottom: 1px solid var(--color-primary-light);
  color: var(--color-primary-light);
}

.cards .forHide {
  transform: translateY(0);
  transition-delay: 0.2s;
}

.cards:hover .forHide {
  transform: translateY(0);
  transition-delay: 0.2s;
}

.cards .forHide {
  display: flex;
  flex-direction: column;
  height: fit-content;
  justify-content: space-between;
  transform: translateY(100%);
  transition: all 0.35s ease-in-out;
}

.cards .cardTitle {
  color: var(--color-primary-lighten1);
  display: flex;
  font-family: var(--font-family-poppins);
  font-size: 1.2rem;
  font-weight: var(--font-400);
  justify-content: space-between;
  margin-bottom: 0.5rem;
}
.cards h4 {
  color: var(--color-primary-lighten1);
  font-family: var(--font-family-poppins);
  font-size: 0.9rem;
  font-weight: var(--font-w200);
  margin-top: 0.5rem;
  text-align: left;
}
.cards .cardButton {
  align-items: center;
  display: flex;
  flex-grow: 1;
  justify-content: flex-end;
  padding-bottom: 0.5rem;
}

.cards .cardButton a {
  align-self: flex-end;
}

@media screen and (max-width: 768px) {
  .mission {
    height: fit-content;
  }
  .mission:hover {
    height: fit-content;
  }
  .mission ul {
    transform: none;
    opacity: 1;
  }
  .cards .forHide {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
    opacity: 1;
    transform: translateY(0);
    transition: all 0.35s ease-in-out;
  }
}

@media screen and (max-width: 768px) {
  .mission {
    height: fit-content;
  }
  .mission:hover {
    height: fit-content;
  }
  .mission ul {
    opacity: 1;
    transform: none;
  }
  .cards{
    height: fit-content;
  }
  .cards:hover{
    height: fit-content;
  }
  .cards .forHide{
    opacity: 1;
    transform: none;
  }
}
