.container {
  aspect-ratio: 16 / 9;
  background-color: rgba(255,255,255, 0.1);
  -webkit-backdrop-filter: blur(5px);
  -moz-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  box-shadow: -3px 0 0 var(--color-primary-light);
  overflow: hidden;
  perspective: 1000px;
  position: relative;
  transform-style: preserve-3d;
  transition: all 0.5s ease-in-out;
  width: min(95%, 30rem);
}

.imageContainer {
  aspect-ratio: 16 / 9;
  filter: brightness(1);
  position: relative;
  transform-origin: right;
  transition: all 0.25s ease-out;
  z-index: 1;
}

.bg {
  background-color: var(--color-primary-lighten1);
  background: attr('secondBg');
  height: 100%;
  left: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  transform-origin: right;
  transform: rotateY(-94deg);
  transition: all 0.35s 0.55s ease-in-out;
  width: 100%;
  z-index: 0;
}

.rightSideBg {
  align-items: center;
  color: var(--color-primary-dark1);
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
  padding: 0.35rem;
  position: absolute;
  right: 0;
  top: 0;
  width: 50%;
}

.shopIcon {
  color: var(--color-primary-light);
  transition: all 5s ease;
}

.shopIconDisabled {
  color: gray;
  cursor: not-allowed;
}

.stoc {
  align-items: center;
  align-self: flex-end;
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.stoc .inventory{
  font-size: 1rem;
  margin: 0;
  padding: 0;
}

.pret {
  width: 100%;
}

.container:hover .bg {
  opacity: 1;
  transform: rotateY(0);
}

.pContainer {
  align-items: center;
  backdrop-filter: blur(5px);
  background-color: var(--color-primary-dark1);
  border: 1px solid var(--color-primary-light);
  display: flex;
  height: 100%;
  justify-content: flex-start;
  left: 0;
  opacity: 0;
  padding-left: 0.35rem;
  position: absolute;
  top: 0;
  transform-origin: left;
  transform: rotateY(100deg);
  transition: all 0.35s 0.35s ease-out;
  width: 50%;
}

.container .pContainer p {
  color: var(--color-primary-lighten1);
  font-family: Poppins, sans-serif;
  font-size: 0.75rem;
  font-weight: 400;
  margin: 0;
  opacity: 0;
  padding: 0;
  transition: all 0.35s ease-in-out;
}

.container:hover .imageContainer {
  filter: brightness(0.5);
  transform: rotateY(85deg);
}

.container:hover .pContainer {
  opacity: 1;
  transform: rotateX(0);
}

.container:hover .pContainer p:nth-child(1) {
  opacity: 1;
  transition-delay: 0.4s;
}

.container:hover .pContainer p:nth-child(2) {
  opacity: 1;
  transition-delay: 0.45s;
}

.container:hover .pContainer p:nth-child(3) {
  opacity: 1;
  transition-delay: 0.5s;
}

.container:hover .pContainer p:nth-child(4) {
  opacity: 1;
  transition-delay: 0.55s;
}

.container:hover .pContainer p:nth-child(5) {
  opacity: 1;
  transition-delay: 0.6s;
}

.container:hover .pContainer p:nth-child(6) {
  opacity: 1;
  transition-delay: 0.65s;
}

.container:hover .pContainer p:nth-child(7) {
  opacity: 1;
  transition-delay: 0.7s;
}

.container:hover .pContainer p:nth-child(8) {
  opacity: 1;
  transition-delay: 0.75s;
}

.container:hover .pContainer p:nth-child(9) {
  opacity: 1;
  transition-delay: 0.8s;
}

@media screen and (max-width: 768px) {
  .container {
    width: 95%;
  }
}
