.reviewItem {
  background: var(--color-primary-dark1);
  border-radius: .3rem;
  border: 1px solid var(--color-extra-light);
  display: flex;
  flex-direction: column;
  font-family: var(--font-family-poppins);
  height: fit-content;
  margin: 0.3rem;
  min-height: 14rem;
  width: 15rem;
}
.reviewItem h4,
.reviewItem h5{
  color: var(--color-primary-lighten1);
  font-size: 1rem;
}

.reviewItem h5{
    border-bottom: 1px solid var(--color-primary-lighten1);
    flex-grow: 1;
    font-size: .9rem;
    font-weight: var(--font-w200);
    position: relative;
}

.imageName img {
  border-radius: 50%;
  height: 2rem;
  margin: .5rem;
  width: 2rem;
}

@media screen and (max-width: 768px) {
  .reviewItem {
    margin: 0.5rem;
    width: 90%;
  }
}
