.despreNoiContainer{
    min-height: 79vh;
    padding-top: 1rem;
    background: var(--color-primary-dark2op);
    backdrop-filter: blur(5px);
    width: 50%;
    margin: 0 auto;
}

.despreNoiContainer p{
    color: var(--color-primary-lighten1);
    padding: 2rem 3rem;
    font-family: var(--font-family-poppins);
    font-size: 1rem;
    font-weight: var(--font-w200);
    text-align: justify;
}

.despreNoiContainer p strong{
    font-weight: var(--font-w400);
}
@media screen and (max-width: 768px){
    .despreNoiContainer{
        width: 100%;
    }
}