.footer__container {
  width: 100%;
  height: fit-content;
  min-height: 14rem;
  background: var(--color-primary-dark1);
  display: flex;
  justify-content: center;
  padding: 0 1rem 1rem;
  padding-bottom: 0;
  user-select: none;
  border-top: 1px solid var(--color-primary-lighten2);
  transition: var(--transition);
}

.footer__container a {
  transition: var(--transition);
}


.footer__middle,
.footer__right{
  width: fit-content;
  min-width: 15rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 0 0.2rem;
}

.footer__container h3 {
  color: var(--color-primary-lighten1);
}

/* LEFT FOOTER ===================================== */

.footer__middle h3,
.footer__right h3 {
  font-family: var(--font-family-poppins);
  font-weight: var(--font-w400);
}


/* MIDDLE FOOTER ===================================== */
.footer__middle a {
  color: var(--color-primary-lighten1);
  font-size: 0.8rem;
  font-family: var(--font-family-poppins);
  font-weight: var(--font-w200);
}

/* RIGHT FOOTER ===================================== */
.footer__right {
  padding-top: 2rem;
}

.footer__right a:first-child {
  margin-top: 0.5rem;
  color: var(--color-primary-lighten1);
  animation: onoff 2s linear infinite;
}

@keyframes onoff {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.1;
  }
}

.footer__right a {
  color: var(--color-primary-lighten1);
  font-size: 0.8rem;
  font-family: var(--font-family-poppins);
  font-weight: var(--font-w200);
  margin-bottom: 1rem;
}

.footer__right h4 {
  color: var(--color-primary-lighten1);
  font-size: 1rem;
  font-family: var(--font-family-poppins);
  font-weight: var(--font-w200);
}

.footer__container a:hover {
  color: var(--color-primary-light);
}

/* REVIEW FOOTER ======================================================= */
.footer__commentsContainer {
  /* background: var(--color-primary-dark2); */
  width: 15rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  position: relative;
  padding: 0 1rem;
  font-family: var(--font-family-poppins);
  color: var(--color-primary-lighten1);
}

.footer__commentsTitle{
  align-self: flex-start;
}

.playPauseContainer{
  /* background: coral; */
  position: absolute;
  top: .25rem;
  right: 1rem;
  width: 3rem;
  display: flex;
  justify-content: space-between;
}

/* next review button */
.button,
.buttonNext{
  color: var(--color-primary-lighten1);
  font-size: 1.2rem;
  cursor: pointer;
  transition: var(--transition);
  border-radius: .2rem;
}

.footer__commentsContainer .footer__commentsReview {
  height: 100%;
  width: 100%;
  border-bottom: 1px solid var(--color-primary-lighten1);
  padding: .2rem;
  /* background: coral; */
}

.footer__imgName {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.footer__imgName h4 {
  font-size: 0.9rem;
  font-weight: var(--font-w400);
}

.footer__commentsContainer .footer__imgName img {
  margin-right: 0.5rem;
  border-radius: 50%;
}

.footer__ratingText{
  display: flex;
  /* background: blue; */
  flex-direction: column;
  justify-content: space-between;
  height: fit-content;
  min-height: 7rem;
}

.footer__ratingText h5{
  font-weight: var(--font-w200);
  font-size: 0.8rem;
  /* background: cornflowerblue; */
  padding-bottom: .1rem;
}

.bottomButtonsContainer{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.bottomButtonsContainer a{
  font-size: .8rem;
  padding: 0 .3rem;
  border-radius: .3rem;
}
.footer__btnLasaRecenzie{
  align-self: flex-start;
  color: var(--color-primary-dark2);
  background: var(--color-primary-light);
  margin: .5rem 0;
  border-bottom: 1px solid var(--color-primary-light);
}
.footer__btnVeziToate{
  border: 1px solid var(--color-primary-light);
  
}
.footer__btnLasaRecenzie:hover{
  color: var(--color-primary-light);
  background: var(--color-primary-dark2);
}




.recenzii__onlyStars{
    display: flex;
}

.bottomButtonsContainer{
  display: flex;

}


@media screen and (max-width: 768px) {
  .footer__container {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .footer__middle,
  .footer__right,
  .footer__commentsContainer{
    width: 100%;
  }

  .footer__right {
    padding-bottom: 1.5rem;
  }

  .footer__middle a,
  .footer__right a {
    font-size: 1.1rem;
  }

  /* .footer__social li a{
    font-size: 1rem;
    letter-spacing: 0;
  } */
  .footer__commentsContainer {
    width: 100%;
    padding: 0 0 1rem 0;
    margin-bottom: 2rem;
  }
  .footer__commentsContainer .button {
    right: 5%;
    top: 2%;
  }
}
