.ocupaContainer{
    background: var(--color-primary-dark2op);
    backdrop-filter: blur(5px);
    width: min(80%, 50rem);
}

.ocupaContainer li,
.ocupaContainer h3{
    color: var(--color-primary-lighten1);
    font-family: var(--font-family-poppins);
    font-weight: var(--font-w200);
}

.ocupaContainer h3{
    font-size: 1rem;
    font-weight: var(--font-w400);
    letter-spacing: .02rem;
    text-decoration: underline;
}

.ocupaContainer li::marker{
    color: var(--color-primary-light);
}

.ocupaContainer li{
    font-size: .9rem;
    letter-spacing: .01rem;
    margin-left: 3rem;
}

.ocupaUnu{
    margin-bottom: 1rem;
}

.ocupaDoi{
    margin-bottom: 1rem;
}

.ocupaTrei{
    margin-bottom: 1rem;
}

@media screen and (max-width:768px){
    .ocupaContainer{
        width: 100%;
    }
}