.pagination__pickToShow label {
  color: var(--color-primary-lighten1);
  font-family: var(--font-family-poppins);
  font-size: 0.9rem;
}

.pagination__pickToShow select {
  background: var(--color-primary-light);
  border: none;
  border-radius: 0.2rem 0.2rem 0 0;
  color: var(--color-primary-dark1);
  font-size: 0.8rem;
  margin-right: 1rem;
  outline: none;
  padding: 0.1rem 0.1rem 0 0;
}
