/* both sections */
.produse__container {
    /* -webkit-backdrop-filter: blur(20px); */
    /* -moz-backdrop-filter: blur(20px); */
    /* backdrop-filter: blur(20px); */
    position: relative;
}

.produse__list {
    z-index: 0;
}

.produse__searchResult{
    border-bottom: 1px solid var(--color-primary-light);
    color: var(--color-primary-lighten1);
    font-family: var(--font-family-poppins);
    font-size: 1.2rem;
    font-weight: var(--font-w200);
    user-select: none;
}