/* Div cu imaginea si scrisu */
.product__container {
  height: fit-content;
  min-height: 100vh;
  background: var(--color-primary-dark1);
}

.product__midContainer {
  width: 75%;
}

/* Imagine stanga */
.product__imagesContainer {
  width: fit-content;
  position: relative;
}

.product__smallImagesContainer {
  height: fit-content;
  overflow-x: auto;
}

.product__smallImage {
  min-width: fit-content;
}
.product__smallImage:hover {
  cursor: pointer;
}

/* Toata partea cu scrisu din dreapta imaginii */
.product__content {
  width: fit-content;
  display: inline-block;
  position: relative;
  white-space: nowrap;
}

/* Titlu din partea dreapta sus */
.product__content h4:first-child {
  color: var(--color-primary-lighten1);
  font-family: var(--font-family-poppins);
  font-weight: var(--font-w600);
  font-size: 1.5rem;
  padding-bottom: .5rem;
  user-select: none;
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 0.3rem;
}

/* Descrierea */
.product__description p {
  color: var(--color-primary-lighten1);
  font-family: var(--font-family-poppins);
  font-weight: var(--font-w200);
  font-size: .9rem;
  margin: 0;
  padding: 0;
  user-select: none;
  white-space: nowrap;
}

/* Pretul */
.product__content h4:last-child {
  color: var(--color-primary-light);
  font-family: var(--font-family-poppins);
  font-weight: var(--font-w400);
  font-size: 1.5rem;
  text-align: end;
  user-select: none;
  text-align: start;
}

@media screen and (max-width: 768px) {
  .product__bigImageContainer {
    aspect-ratio: 16 / 9;
    width: 100%;
    height: auto;
  }
  .product__midContainer {
    width: 100%;
  }
  .product__content {
    width: 100%;
  }
}
