.ramburs__container {
  width: 100%;
  height: fit-content;
  min-height: 79vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--color-primary-dark2op);
  backdrop-filter: blur(5px);
}

.ramburs__container form {
  background: #e8eddf;
  border-top-left-radius: .3rem;
  border-top-right-radius: .3rem;
  border-bottom-left-radius: .3rem;
  border-bottom-right-radius: .3rem;
  display: flex;
  flex-direction: column;
  font-family: var(--font-family-poppins);
  max-width: 40rem;
  margin: 0.5rem 0;
  padding: 2rem;
  width: 50%;
  transition: var(--transition);
  border: .1rem solid var(--color-primary-lighten2);
}

.ramburs__container form textarea {
  resize: none;
  margin: 0.5rem 0;
  padding: 0.5rem;
  color: #242423;
  background: #e8eddf;
  transition: var(--transition);
}

.ramburs__buttonsContainer {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-top: .5rem;
}

.check {
  margin: 0.2rem 0;
}

@media screen and (max-width: 768px) {
    .ramburs__container{
        height: fit-content;
    }
  .ramburs__container form {
    width: 100%;
    max-width: 100%;
    margin: 1rem 0.4rem;
    height: 100%;
  }
}

@media screen and (max-width: 360px) {
  .ramburs__container {
    height: fit-content;
  }
  .ramburs__buttonsContainer a,
  .ramburs__buttonsContainer button {
    font-size: 0.9rem;
  }
  .form__label {
    font-size: 0.9rem;
  }
}

@media screen and (max-width: 281px) {
  .ramburs__buttonsContainer a,
  .ramburs__buttonsContainer button {
    font-size: 0.8rem;
  }
  .form__label {
    font-size: 0.8rem;
  }
  .ramburs__container form {
    margin: 1rem 0rem;
  }
}
